html {
  font-size: 18px;
}
/*.border {
  border: 3px solid black;
}*/
.font {
  font-family: "Helvetica";
}
.white {
  color: white;
}
.oneRem {
  font-size: 1rem;
}
.twoRem {
  font-size: 2rem;
}
.hipsterImg {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 30rem;
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
}

/* Top Bar */

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.topBarContainer {
  display: flex;
  justify-content: center;
  width: 960px;
}
.topBar {
  background-color: cadetblue;
  margin-top: 1rem;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 960px;
  height: 1rem;
}
.topBarLogo {
  height: 1rem;
}
.topBarLeft img {
  padding-left: 2rem;
  padding-right: 1rem;
}
.topBarRight {
  display: flex;
  justify-content: flex-end;
}
.topBarRight h4 {
  padding-right: 2rem;
}
.topBarSmallMenu {
  display: none;
}

/* White Bar */
.whiteBar {
  width: 55.333333333rem;
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
}
.whiteBarContent {
  width: 50%;
  text-align: center;
  padding: 1.5rem 5rem;
  background-color: white;
  font-weight: bold;
  line-height: 1.2;
}

/* Middle Icons */
.middleIcons {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
}
.middleFlexItemsContainer {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 100%;
}
.middleFlexItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
}
.middleFlexItems h1 {
  width: 100%;
  text-align: center;
  height: 100%;
}
.iconImg1 {
  width: 3.5rem;
  height: 50%;
}
.iconImg2 {
  width: 5rem;
  padding-bottom: 1.5rem;
  height: auto;
}
.iconImg3 {
  width: 5rem;
  padding-bottom: 0.9rem;
  height: auto;
}
.topWord {
  padding-top: 0.5rem;
  padding-bottom: 0;
}
.marginRight {
  margin-right: 6rem;
}
/* Bottom Section */
.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.bottomSection {
display: flex;
width: 960px;
}
.bottomSectionContainers {
width: 35%;
margin-right: 5%;
}
.marginLeft {
  margin-left: 5%
}
.bottomSectionContainers h1 {
  width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
}
.azure {
  background-color: azure;
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer {
  display: flex;
  width: 960px;
  padding: 4rem;
  align-items: center;
}
.bottomLogo {
  margin-right: 1rem;
  height: 1.5rem;
}
/* Media Queries */
/* Tablets */
@media only screen and (max-width: 1024px) {
  .hipsterImg {
    height: 22rem;
  }
  .topBarContainer {
    width: 100%;
  }
  .topBar {
    margin-top: 0;
  }
.whiteBar {
  margin-top: 5rem;
  margin-right: 2rem;
  }
.whiteBarContent {
  padding: 0.75rem 4rem;
  font-size: 1.33rem;
  }
}
/* Mobiles */
@media only screen and (max-width: 500px) {
  .hipsterImg {
    height: 17rem;
    background-position: 20%;
  }
  .topBarSmallMenu {
    display: inline;
    padding-right: 2rem;
  }
  .topBar h4 {
    display: none;
  }
  .whiteBar {
    width: 100%;
    margin: 9rem 0 1rem 0;
  }
  .whiteBarContent {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
  .middleIcons {
    margin: 3.77rem 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 24rem;
  }
  .middleFlexItemsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .middleFlexItems {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0;
    height: 8rem;
  }
  .iconImg1 {
    height: auto;
    padding-bottom: 1rem;
  }
  .iconImg2 {
    height: auto;
    padding-bottom: 1rem;
  }
  .iconImg3 {
    height: auto;
    padding-bottom: 1rem;
  }
  .marginRight {
    margin: 0;
  }
  .middleFlexItems h1 {
    width: auto;
    height: auto;
    padding: 0;
    font-size: 0.77rem;
  }
  .marginBottomSmallScreen {
    margin-bottom: 1rem;
  }
/* BOTTOM SECTION */
.bottom {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5rem;
}
.bottomSection {
display: flex;
flex-direction: column;
width: 100%;
}
.bottomSectionContainers {
width: 100%;
margin-right: 0%;
}
.marginLeft {
  margin-left: 0%;
}
.bottomSectionContainers h1 {
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: cadetblue;
  margin-bottom: 1rem;
}
.bottomSectionContainers p {
  font-size: 0.77rem;
  padding-left: 1rem;
}
.bottomSectionContainerSmallScreenMargin {
  margin-bottom: 4rem;
}
/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h1 {
  display: none;
}
}
